<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="off" monitorInterval="300">

    <Appenders>
        <Console name="Console2" target="SYSTEM_OUT">
            <PatternLayout pattern="+++ [Message: %msg]%n" />
        </Console>

    </Appenders>

    <Loggers>
        <Logger name="xixi" level="info">
            <AppenderRef ref="Console2" />
        </Logger>
    </Loggers>
</Configuration>